body {
    font-family: Verdana, Geneva, sans-serif; 
    margin:0; 
    overflow: hidden;
     }

.apr-laflex-container {
    display:flex;
    flex-grow:1;
    flex-direction:row;
}

.apr-direction-vertical{
    flex-direction: column;
}
.apr-direction-horizontal{
    flex-direction: row;
}

.apr-bg-blue {
    background-color:blue;
    color:white;
}

.gnt-root {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    top: 0;
}

.panel-right {
    overflow-x:scroll;
}

.gnt-panel-content {
    overflow-y:scroll;
}


.row {
    border-width:0 0 2px 0;
    border-style:solid;
    display:flex;
    flex-grow: 1;
    height:50px;
}

.row-title {
    width: 100px;
    display: flex;
    background-color:lightblue;
    height: 100%;
    
}
.row-body {
    display: flex;
    flex-grow:1;
    background-color:white;
    flex-direction: column;
}

.row-resource {
    background-color:#0087A3;
    color:#FFF;
    width:149px;
    border-width:1px 0 0 0;
    border-style:solid;

}

.row-activity {
    border-radius: 4px;
    
    margin-top: 4px;
    /*display:flex;*/
    background-color: #000;
    color:#FFF;
    cursor:pointer;

}
.activities {
    z-index:1;
}

.timeline {
    z-index:5;
    height: 50px;
    background-color:#B4B6BA;
    overflow-x:hidden;
    overflow-y:hidden;
    
}
.timeline-top {
    z-index:5;
    height:50px;
  
    background-color:lightgrey;
    overflow-x:hidden;
    overflow-y:hidden;
}

.time-cell, .time-cell-top {
    display:inline-block;
    border-style:solid;
    border-color:black;
    border-width:0 1px 0 0;
    height:50px;
}

.time-cell-top {
    height: 50px;
    text-align: center;
    text-align:middle;
    background-color: lightgrey;
}

