body {
    font-family: Verdana, Geneva, sans-serif; 
    margin:0; 
    overflow: hidden;
     }


.gnt-root {
    /*position: absolute;*/
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    top: 0;
}

.panel-right {
    overflow-x:scroll;
}

.gnt-panel-content {
    overflow-y:scroll;
}


.row {
    border-width:0 0 2px 0;
    border-style:solid;
    display:flex;
    flex-grow: 1;
    height:50px;
}

.row-title {
    width: 100px;
    display: flex;
    background-color:lightblue;
    height: 100%;
    
}
.row-body {
    display: flex;
    flex-grow:1;
    background-color:white;
    flex-direction: column;
}

.row-resource {
    background-color:#E2E4E3;
    color:#000;
    width:179px;
    border-width:1px 0 0 0;
    border-style:solid;
    border-color:#fff;

}

.row-activity {
    /*border-radius: 4px;*/
    height: 49px;
    /*margin-top: 4px;*/
    /*display:flex;*/
    position:relative;
    color:#FFF;
    cursor:pointer;
    background-color:#005686;
    border-color: #fff;
    border-width:1px 0 0 0;
    border-style: solid;
}

.row-activity-parent {
    display:inline-flex;
}

.row-activity.started {
    background-color: #57B847;
}

.row-activity.new {
    background-color: #005686;
}

.activities {
    z-index:1;
}

.timeline {
    z-index:5;
    height: 25px;
    color:black;
    background-color:#E2E4E3;
    overflow-x:hidden;
    overflow-y:hidden;
    
}
.timeline-top {
    z-index:5;
    height:25px;
    color:black;
    background-color:#E2E4E3;

}

.time-cell, .time-cell-top {
    display:inline-block;
    border-style:solid;
    border-color:#fff;
    border-width:1px 1px 1px 0;
    height:26px;
}

.time-cell-top {
    height: 26px;
    text-align: center;

    background-color: #E2E4E3;
}

